body { background-color: #90C7E3;
 	background-image: linear-gradient(to bottom, #FFFFFF, #01BCF1);
      color: #016B89; 
      font-family: Arial, Helvetica, sans-serif;
}
header { background-color: #000033;
	color: #FFFFFF;
	text-indent: 1em;
	line-height: 400%;
	height: 70px;
	padding: 0;
	margin: 0;
}
nav {font-weight: bold;
	padding: .5em;
	text-align: center;
	background-color: #0260A8;
}
nav ul{ margin: 0;
	list-style-type: none;
	margin-left: -40px;
	}
nav li { display: inline;
	padding: .25em .75em .25em .75em;}
nav a { font-size: 150%;
	text-decoration: none;
	color: #09B199;}
nav a:hover {color: #09FFFF;}
table {
	border: 1px #3399CC solid;
	width: 100%;
	border-spacing: 0;
}
td, th {padding: 5px;
	border: 1px #3399CC solid;}
td{
	text-align: center;
}
tr:nth-of-type(odd){
	background-color: #F5FAFC;
}

#logo a {
	background-image: url(logolight.jpg);
	background-size: 80px 70px;
	background-repeat: no-repeat;
	color: #FFF;
	text-decoration: none;
	float: left;
	text-indent: 100px;
	transition: background-image .2s ease;
	padding-bottom: 10px;
	margin: 0;
	}
#logo a:hover {background-image: url(logodark.jpg);
	color: #DDD;}
#wrapper {margin: auto;
	width: 80%;
	box-shadow: 3px 3px 3px #333333;
	background-color: #93e1fd}
#sidebar { float: left;
	width: 25%; 
	background-color: #B8EEFF;
	color: #005774;}
#box1 { border: 1px solid #000;
	padding: 10px;}
#box1 h3 {text-align: center;
	color: #00397E;}
#box1 a { display: block;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;}
#box2 { border: 1px solid #000;
	border-top: 0;
	padding: 10px;
	text-align: center;}
#sidebar a { color: #000;
	text-decoration: none;
	font-weight: bold;
	}
#sidebar a:hover {color: #FFF}
#pageheading {padding: 10px;
	text-align: center;}
#buy img { box-shadow: none;
	float: none;
	margin: 0;
	padding: 10px;
	height: 40px;}
#buy a:hover {opacity: 0.6;}
#countdown {color: #F00;}
p {margin-left: 10px;
	margin-right: 10px;}
main {margin-left: 25%;
	padding: 20px;
	background-color: #FFF;}
main a {text-decoration: none;}
main a:hover {text-decoration: underline;}
main img {float: right;
	margin: 10px;
	margin-left: 5%;
	box-shadow: 3px 3px 3px #333333;}
main p {padding-bottom: 10px;}
h1 { margin-bottom: 0;
	font-family: Georgia, "Times New Roman", serif;
}
h2 { color: #109D8F;
	font-family: Georgia, "Times New Roman", serif;
}
h2 a { color: #109D8F;
	font-family: Georgia, "Times New Roman", serif;
}
h3 {font-family: Georgia, "Times New Roman", serif}
ul { list-style-image: url(pencil.png);}
dt {color: #000033;}
footer { color: #FFF;
	font-size: 75%; 
	font-style: italic; 
	text-align: center; 
	font-family: Georgia, "Times New Roman", serif;
	background-color: #024A81;
}
footer a { color: #CCC;
	text-decoration: none;}
footer a:hover {text-decoration: underline;}
.book { color: #5C7FA3;
	font-weight: bold;
}
#mobile {display: none;}
#desktop {display: block;}
label { float: left;
	display: block;
	text-align: right;
	width: 120px;
	padding-right: 10px;}
input, textarea {
	display: block;
	margin-bottom: 20px;
}
input[type="submit"] {
	margin-left: 130px;
}
#contact a {color: #2eb7b7;
	text-decoration: none;}
#contact a:hover {color: #9ae5e5;}

@media only screen and (max-width: 64em){ 
	body {background-color: #FFFFFF; }
	#wrapper { min-width: 0;
		width: auto;
		box-shadow: none;}
	#mobile {display: none;}
	#desktop {display: block;}
	
	}

@media only screen and (max-width: 37.5em){
	main {padding: .1em 1em .1em 1em;
		font-size: 90%;
		margin-left: 0;}
	#sidebar {float: none;
		width: 100%;}
	h1 {font-size: 1.5em;}
	nav {padding: 0;}
	nav li {display: block;

		border-bottom: 2px solid #000;
		}
	nav a { display: block;
	}
	#header {padding-top: 1em;}
	#mobile {display: block;}
	#desktop {display: none;}
	
}